.product-card {
  display: flex;
  width: 416px;
  padding: 0px 40px 20px 40px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--green, #a0d187);
  transition: all 0.2s;
}

.product-onion-is-active {
  background-color: var(--red, #cf9697);
}
.product-classic-is-active {
  background-color: #c0d9d9;
}
.product-description {
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 18px;
}
.product-informations {
  display: none;
}
