.l-title-background {
  background: var(--dark-blue, #005564);
  display: flex;
  height: 120px;
  padding: 0px 52px 0px 53px;
  justify-content: center;
}
.l-main-background {
  padding: 60px 0;
}
.l-bottom-background {
  height: 325px;
  background: var(--light-blue, #c0d9d9);
  padding: 40px 0;
}
